

.dialog-pane{
    -fx-background-color: #FFFFFF;
}
.sagradabutton,
.dialog-pane .button{
    -fx-background-color:#FFFFFF;
    -fx-text-fill: black;
    -fx-border-radius: 0;
    -fx-padding: 10 10 10 10;


}
.sagradabutton:hover,
.dialog-pane .button:hover{
    -fx-border-radius: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}
.title
{
    -fx-font-size: 30pt;
    -fx-text-fill: black;
    -fx-font-family: Impact;
}
.label,
.dialog-pane .label {
    -fx-font-size: 10pt;
    -fx-text-fill: black;
}
.dicebutton {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}
.pane{
    -fx-background-color: #F0433A;
}
