

.dialog-pane{
    -fx-background-color: #FFFFFF;
}
.sagradabutton,
.dialog-pane .button{
    -fx-background-color:#FFFFFF;
    -fx-text-fill: black;
    -fx-border-radius: 0;
    -fx-padding: 10 10 10 10;


}
.sagradabutton:hover,
.dialog-pane .button:hover{
    -fx-border-radius: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}
.title
{
    -fx-font-size: 30pt;
    -fx-text-fill: black;
    -fx-font-family: Impact;
}
.tab .tab-label,
.label,
.dialog-pane .label {
    -fx-font-size: 10pt;
    -fx-text-fill: black;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{

    -fx-background-color: white;

}
.tab-header-background {
    -fx-background-color: white ;
}
.dicebutton {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

.tab-pane .tab:selected
{
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 5, 0);
}
.pane{
    -fx-background-color: #F0433A;
}



.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: black;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}
